---
layout: default
---

<div class="home">

  <h1 class="page-heading">> topics<span class="blink">_</span></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a>
          <div class="title-meta">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="timetoread">({{ post.timetoread }} read)</span>
          </div>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
