/**
 * Site header
 */
.site-header {
    background: $grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: left;


    &,
    &:visited {
        color: #fff;
    }
}
@media screen and (max-width: 425px) {
  .site-title {
    width: 50%;
  }
}

.site-nav {
    float: right;
    line-height: 40px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 800px) {
  .site-title {
    line-height: 1.2em;
    margin: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .site-nav .page-link {
    color: $text-color;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    em {
        display: block;
        border-bottom: 1px solid $grey-color-light;
        padding-bottom: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
        color: $grey-color;
    }
}

.license {
  opacity: 0.6;
  font-size: $small-font-size;
  img {
    margin-top: 6px;
  }
  &:hover {
    opacity: 1;
  }
  div:first-child {
    float: left;
    margin-right: 10px;
  }
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $small-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(55% - (#{$spacing-unit} / 2));
    width:         calc(55% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: $base-font-size;
    color: $grey-color;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 4;
    }

    .timetoread {
        display: none;
        color: $grey-color;
        font-size: 14px;
    }

    h2:hover .timetoread {
        display: initial;
    }
}

.post-meta {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: $grey-color;
}

.post {
  .post-meta {
    border-top: 1px solid darken($grey-color-light, 10%);
    line-height: 0;

    time {
      margin-left: 10px;
      background: $background-color;
      padding: 0 10px;
    }
  }
}

.post-link {
    color: $grey-color-dark;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    color: $grey-color-dark;
    letter-spacing: -1px;
    line-height: 1.5em;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-subtitle {
    font-style: italic;
    font-size: 26px;
}


.post-content {
    margin-bottom: $spacing-unit;

    p {
      color: $grey-color-dark;
    }

    h1, h2, h3 {
      margin: 40px 0 20px 0;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

}

.not-found {
  text-align: center;

  .post-title {
    font-size: 70px;
    margin: 40px 0;
  }
}
